<main>
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="row">
          <form class="c-form box-shadow was-validated" [formGroup]="addForm">
            <ul>
              <li class="title">会員情報編集</li>
              <!-- <li class="box-err">
                                <div class="box-err-content">Hiển thị lỗi chung lại đây</div>
                            </li> -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10"><input type="text" class="form-control" autofocus
                    [ngClass]="(addForm.get('employeeLoginId')?.touched||addForm.get('employeeLoginId')?.dirty||submitted)&&addForm.get('employeeLoginId')?.errors?'invalid_input':''"
                    formControlName="employeeLoginId">
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeLoginId')?.touched||addForm.get('employeeLoginId')?.dirty||submitted)&&addForm.get('employeeLoginId')?.errors?.['required']">
                    Hãy nhập カタカナ氏名</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeLoginId')?.touched||addForm.get('employeeLoginId')?.dirty||submitted)&&addForm.get('employeeLoginId')?.errors?.['maxlength']">
                    カタカナ氏名 không được vượt quá 50 ký tự.</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeLoginId')?.touched||addForm.get('employeeLoginId')?.dirty||submitted)&&addForm.get('employeeLoginId')?.errors?.['pattern']">
                    カタカナ氏名 chi chấp nhận các ký tự (a-z, A-Z, 0-9 và _). Ký tự đầu tiên không phải là số.</div>


                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">グループ:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <select class="form-control"
                    [required]="(addForm.get('departmentId')?.touched||addForm.get('departmentId')?.dirty||submitted)&&addForm.get('departmentId')?.errors!== undefined"
                    formControlName="departmentId" #depart (change)="handleDepartChange(depart.value)">
                    <option value="">選択してください</option>
                    <option *ngFor="let dep of departments" [value]="dep.departmentId">{{dep.departmentName}}</option>

                  </select>
                  <div class="invalid-feedback"
                    *ngIf="(addForm.get('departmentId')?.touched||addForm.get('departmentId')?.dirty||submitted)&&addForm.get('departmentId')?.errors?.['required']">
                    Hãy chọn グループ</div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">氏名:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10"><input type="text"
                    [ngClass]="(addForm.get('employeeName')?.touched||addForm.get('employeeName')?.dirty||submitted)&&addForm.get('employeeName')?.errors?'invalid_input':''"
                    class="form-control" formControlName="employeeName">
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeName')?.touched||addForm.get('employeeName')?.dirty||submitted)&&addForm.get('employeeName')?.errors?.['required']">
                    Hãy nhập 氏名</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeName')?.touched||addForm.get('employeeName')?.dirty||submitted)&&addForm.get('employeeName')?.errors?.['maxlength']">
                    氏名 không được vượt quá 125 ký tự.</div>

                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input type="text" class="form-control"
                    [ngClass]="(addForm.get('employeeNameKana')?.touched||addForm.get('employeeNameKana')?.dirty||submitted)&&addForm.get('employeeNameKana')?.errors?'invalid_input':''"
                    formControlName="employeeNameKana">
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeNameKana')?.touched||addForm.get('employeeNameKana')?.dirty||submitted)&&addForm.get('employeeNameKana')?.errors?.['required']">
                    Hãy nhập カタカナ氏名</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeNameKana')?.touched||addForm.get('employeeNameKana')?.dirty||submitted)&&addForm.get('employeeNameKana')?.errors?.['maxlength']">
                    カタカナ氏名 không được vượt quá 125 ký tự.</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeNameKana')?.touched||addForm.get('employeeNameKana')?.dirty||submitted)&&addForm.get('employeeNameKana')?.errors?.['pattern']">
                    カタカナ氏名 phải là ký tự kana.</div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">生年月日:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10 d-flex">
                  <div class="input-group date datepicker">

                    <input class="form-control" readonly="" type="text" bsDatepicker formControlName="employeeBirthDate"
                      [ngClass]="(addForm.get('employeeBirthDate')?.touched||addForm.get('employeeBirthDate')?.dirty||submitted)&&addForm.get('employeeBirthDate')?.errors?'invalidDate':''"
                      [bsConfig]="{ dateInputFormat:'YYYY-MM-DD' }" #datepickerYMD="bsDatepicker">
                    <span class="input-group-addon" (click)="datepickerYMD.toggle()">
                      <i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeBirthDate')?.touched||addForm.get('employeeBirthDate')?.dirty||submitted)&&addForm.get('employeeBirthDate')?.errors?.['required']">
                    Hãy chọn 生年月日</div>

                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">メールアドレス:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10"><input type="text" class="form-control"
                    [ngClass]="(addForm.get('employeeEmail')?.touched||addForm.get('employeeEmail')?.dirty||submitted)&&addForm.get('employeeEmail')?.errors?'invalid_input':''"
                    formControlName="employeeEmail">
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeEmail')?.touched||addForm.get('employeeEmail')?.dirty||submitted)&&addForm.get('employeeEmail')?.errors?.['required']">
                    Hãy nhập メールアドレス</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeEmail')?.touched||addForm.get('employeeEmail')?.dirty||submitted)&&addForm.get('employeeEmail')?.errors?.['maxlength']">
                    メールアドレス không được vượt quá 125 ký tự.</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeEmail')?.touched||addForm.get('employeeEmail')?.dirty||submitted)&&addForm.get('employeeEmail')?.errors?.['email']">
                    メールアドレス phải là email.</div>

                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">電話番号:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10"><input type="text" class="form-control"
                    [ngClass]="(addForm.get('employeeTelephone')?.touched||addForm.get('employeeTelephone')?.dirty||submitted)&&addForm.get('employeeTelephone')?.errors?'invalid_input':''"
                    formControlName="employeeTelephone">
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeTelephone')?.touched||addForm.get('employeeTelephone')?.dirty||submitted)&&addForm.get('employeeTelephone')?.errors?.['required']">
                    Hãy nhập 電話番号</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeTelephone')?.touched||addForm.get('employeeTelephone')?.dirty||submitted)&&addForm.get('employeeTelephone')?.errors?.['maxlength']">
                    電話番号 không được vượt quá 50 ký tự.</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeTelephone')?.touched||addForm.get('employeeTelephone')?.dirty||submitted)&&addForm.get('employeeTelephone')?.errors?.['pattern']">
                    電話番号 chỉ chấp nhận ký tự 1 byte.</div>

                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">パスワード:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10"><input type="text" class="form-control"
                    [ngClass]="(addForm.get('employeeLoginPassword')?.touched||addForm.get('employeeLoginPassword')?.dirty||submitted)&&addForm.get('employeeLoginPassword')?.errors?'invalid_input':''"
                    formControlName="employeeLoginPassword">
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeLoginPassword')?.touched||addForm.get('employeeLoginPassword')?.dirty||submitted)&&addForm.get('employeeLoginPassword')?.errors?.['required']">
                    Hãy nhập パスワード</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeLoginPassword')?.touched||addForm.get('employeeLoginPassword')?.dirty||submitted)&&addForm.get('employeeLoginPassword')?.errors?.['minlength']">
                    パスワード phải lớn hơn hoặc bằng 8 và nhỏ hơn hoặc bằng 50 ký tự.</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeLoginPassword')?.touched||addForm.get('employeeLoginPassword')?.dirty||submitted)&&addForm.get('employeeLoginPassword')?.errors?.['maxlength']">
                    パスワード phải lớn hơn hoặc bằng 8 và nhỏ hơn hoặc bằng 50 ký tự.</div>

                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">パスワード（確認）:</i></label>
                <div class="col-sm col-sm-10"><input type="text" class="form-control"
                    [ngClass]="(addForm.get('employeeConfirmPassword')?.touched||addForm.get('employeeConfirmPassword')?.dirty||submitted)&&addForm.get('employeeConfirmPassword')?.errors?'invalid_input':''"
                    formControlName="employeeConfirmPassword">
                  <div class="invalid-feedback"
                    *ngIf="(addForm.get('employeeConfirmPassword')?.touched||addForm.get('employeeConfirmPassword')?.dirty||submitted)&&addForm.get('employeeConfirmPassword')?.errors?.['required']">
                    Hãy nhập パスワード（確認）</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeConfirmPassword')?.touched||addForm.get('employeeConfirmPassword')?.dirty||submitted)&&addForm.get('employeeConfirmPassword')?.errors?.['minlength']">
                    パスワード（確認）phải lớn hơn hoặc bằng 8 và nhỏ hơn hoặc bằng 50 ký tự.</div>
                  <div class="invalid_message"
                    *ngIf="(addForm.get('employeeConfirmPassword')?.touched||addForm.get('employeeConfirmPassword')?.dirty||submitted)&&addForm.get('employeeConfirmPassword')?.errors?.['maxlength']">
                    パスワード（確認） phải lớn hơn hoặc bằng 8 và nhỏ hơn hoặc bằng 50 ký tự.</div>
                  <div class="invalid_message" *ngIf="(addForm.get('employeeConfirmPassword')?.touched||addForm.get('employeeConfirmPassword')?.dirty||submitted)
                    &&addForm.get('employeeConfirmPassword')?.errors?.['mustMatch']
                    &&!addForm.get('employeeConfirmPassword')?.errors?.['minlength']
                    &&!addForm.get('employeeConfirmPassword')?.errors?.['maxlength']">
                    Mật khẩu xác nhận không đúng.</div>


                </div>
              </li>
              <li class="title mt-12"><a href="#!">日本語能力</a></li>
              <ng-container formArrayName="certifications">
                <ng-container *ngFor="let certi of  certifications.controls,let item=index">
                  <ng-container [formGroupName]="item">
                    <li class="form-group row d-flex">
                      <label class="col-form-label col-sm-2"><i class="relative">資格:</i></label>
                      <div class="col-sm col-sm-10">
                        <select class="form-control" formControlName="certificationId" #certiID
                          (change)="handleCertichange(certiID.value)">
                          <option value="">選択してください</option>
                          <option *ngFor="let cer of certificationList" [value]="cer.certificationId">
                            {{cer.certificationName}}
                          </option>

                        </select>

                      </div>
                    </li>
                    <li class="form-group row d-flex">
                      <label class="col-form-label col-sm-2"><i class="relative">資格交付日:<span class="note-red"
                            *ngIf="isSelectedCerti">*</span></i></label>
                      <div class="col-sm col-sm-10 d-flex">
                        <div class="input-group date datepicker">
                          <input class="form-control" readonly="" type="text" bsDatepicker
                            [ngClass]="(addForm.get('certifications')?.get(item+'')?.get('certificationStartDate')?.touched||submitted)&&addForm.get('certifications')?.get(item+'')?.get('certificationStartDate')?.errors?'invalidDate':''"
                            formControlName="certificationStartDate" [bsConfig]="{ dateInputFormat:'YYYY-MM-DD' }"
                            #startDatePicker="bsDatepicker">
                          <span class="input-group-addon" (click)="isSelectedCerti&&startDatePicker.toggle()"><i
                              class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <div class="invalid_message"
                          *ngIf="(addForm.get('certifications')?.get(item+'')?.get('certificationStartDate')?.touched||submitted)&&addForm.get('certifications')?.get(item+'')?.get('certificationStartDate')?.errors?.['required']">
                          Hãy chọn 資格交付日</div>
                      </div>
                    </li>
                    <li class="form-group row d-flex">
                      <label class="col-form-label col-sm-2"><i class="relative">失効日:
                          <span class="note-red" *ngIf="isSelectedCerti">*</span></i></label>
                      <div class="col-sm col-sm-10 d-flex">
                        <div class="input-group date datepicker">
                          <input class="date form-control" type="text" bsDatepicker
                            [ngClass]="(addForm.get('certifications')?.get(item+'')?.get('certificationEndDate')?.touched||submitted)&&addForm.get('certifications')?.get(item+'')?.get('certificationEndDate')?.errors?'invalidDate':''"
                            formControlName="certificationEndDate" [bsConfig]="{ dateInputFormat:'YYYY-MM-DD' }"
                            #endDatePicker="bsDatepicker">
                          <span class="input-group-addon" (click)="isSelectedCerti&&endDatePicker.toggle()"><i
                              class="glyphicon glyphicon-calendar"></i></span>
                        </div>

                        <div class="invalid_message"
                          *ngIf="(addForm.get('certifications')?.get(item+'')?.get('certificationEndDate')?.touched||submitted)&&addForm.get('certifications')?.get(item+'')?.get('certificationEndDate')?.errors?.['required']">
                          Hãy chọn 失効日</div>
                        <div class="invalid_message"
                          *ngIf="(addForm.get('certifications')?.get(item+'')?.get('certificationEndDate')?.touched||submitted)&&addForm.get('certifications')?.get(item+'')?.get('certificationEndDate')?.errors?.['dateInvalid']">
                          失効日 phải lớn hơn 資格交付日.</div>
                      </div>

                    </li>
                    <li class="form-group row d-flex">
                      <label class="col-form-label col-sm-2"><i class="relative">点数: <span class="note-red"
                            *ngIf="isSelectedCerti">*</span></i></label>
                      <div class="col-sm col-sm-10"><input type="text" formControlName="employeeCertificationScore"
                          [ngClass]="(addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.touched||addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.dirty||submitted)&&addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.errors?'invalid_input':''"
                          class="form-control">
                        <div class="invalid_message"
                          *ngIf="(addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.touched||addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.dirty||submitted)&&addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.errors?.['required']">
                          Hãy nhập 点数</div>
                        <div class="invalid_message"
                          *ngIf="(addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.touched||addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.dirty||submitted)&&addForm.get('certifications')?.get(item+'')?.get('employeeCertificationScore')?.errors?.['pattern']">
                          点数 phải là số halfsize.</div>

                      </div>
                    </li>

                  </ng-container>

                </ng-container>
              </ng-container>


              <li class="form-group row d-flex">
                <div class="btn-group col-sm col-sm-10 ml">
                  <button class="btn btn-primary btn-sm" (click)="navigateToConfirm()">確認</button>
                  <button type="button" class="btn btn-secondary btn-sm"
                    onClick="location.href = './ADM002.html';return false;">戻る</button>
                </div>
              </li>
            </ul>
              <pre>{{addForm.value|json}}</pre>
          </form>
        </div>
      </div>


    </div>
    <footer class="footer">
      <div class="content-main">
        <p>Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.</p>
      </div>
    </footer>
  </div>
</main>
